{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HexaShop &ndash; {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    </head>
    <body>
        <header>
          <nav>
            <a href="{% url 'home' %}" class="logo">
              <img src="{% static 'img/logo.png' %}" alt="website template image">
            </a>
            <ul>
              <li>
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li>
                <a href="javascript:void(0);">Categories</a>
              </li>
              <li>
                <a href="javascript:void(0);">Shop</a>
              </li>
              <li>
                <a href="javascript:void(0);">Brands</a>
              </li>
              <li>
                <a href="{% url 'contact' %}">Contact</a>
              </li>
              <li>
                <a href="javascript:void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="javascript:void(0);"><i class="fa fa-user" aria-hidden="true"></i></a>
              </li>
            </ul>
            <a class="menu-trigger"><span>Menu</span></a>
          </nav>
        </header>
          {% block content %}
            
          {% endblock %}
        <footer>
          <div class="company">
            <div class="logo"><img src="{% static 'img/white-logo.png' %}" alt="website template image"></div>
            <ul>
              <li>16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</li>
              <li><a href="#">mail@domain.com</a></li>
              <li><a href="#">010-020-0340</a></li>
            </ul>
          </div>
          <div class="menu">
            <div>
              <h4>Shopping &amp; Categories</h4>
              <ul>
                <li><a href="#">Men's Shopping</a></li>
                <li><a href="#">Women's Shopping</a></li>
                <li><a href="#">Kid's Shopping</a></li>
              </ul>
            </div>
            <div>
              <h4>Brands</h4>
              <ul>
                <li><a href="#">Homepage</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div>
              <h4>Help &amp; Information</h4>
              <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Tracking ID</a></li>
              </ul>
            </div>
          </div>
        </footer>
        <center>
          <p>Copyright © 2023 HexaShop Co., Ltd. All Rights Reserved.<br>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </center>
    </body>
</html>